<p>Welcome on the PORTAL !!!</p>
<p>Choose your IHM :</p>
<ul>
    <li><a href="{{ path( 'administration_home') }}">ADMINISTRATION</a></li>
    <li><a href="{{ path( 'membre_home') }}">SECTION_MEMBRE</a></li>
    <li><a href="{{ path( 'eleve_home') }}">SECTION_ELEVE</a></li>
</ul>
