<nav id="main_navbar" class="navbar navbar-custom navbar-fixed-top">

    <div id="maintitle" class="title text-left caption container">
        <p class="suptitle">Association Musicale Martiniquaise</p>
        <h1><span>C</span>uivre et Bois d'&Eacute;b&egrave;ne</h1>
    </div>

    <div class="menu_handler">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_menu_links">
                    <i class="fa fa-bars"></i>
                    {#TODO : styliser ce bouton (apparait uniquement pour les smartphones)#}
                </button>
                <a class="navbar-brand" href="{{ path('main_home') }}">
                    <i class="glyphicon glyphicon-home"></i>
                    {#TODO : faire disparaitre lien de l'accueil pour les smartphones)#}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav menu_links">
                    {{ render( controller( 'DppCbeMainBundle:Menu:mainMenu', {})) }}
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /.menu_handler -->
</nav>