{% extends 'DppCbeMainBundle:_Templates:template_default.html.twig' %}

{% block content %}
    <h1>IHM EDITEUR</h1>
    <span>*** CONNECTE ! ***</span>
    <a href="">G&eacute;rer les Actualités</a>
{%  endblock %}